<h1 id="game-notes">Game Notes</h1>
<p>The goal of the game is to defend the bastion. enemies will come through different passages to try and break into the main room. Each Player gets 4 barricades to block off the various halways, these barricades will get broken by all enemy attacks, some more than others. The barricades will repair to 100% hp after each Phase. There will be a chest phase after every set of waves, before the loot drop team damage is turned on allowing players to duke it out for the best loot, players who die during this phase will be given a choice of emplacements and weapon from the chest that the winner didnt take. Emplacemets will consist of auto turrets, teleporters, tripwires,tesla coils and tons of other things. Maps will have natural hazards that the player can take advatage of by using his own emplacements.</p>
<p>There will be a scoreboard, every kill players get including team kills will add to thier score, at the end of each level the player with highest score will be crowned and the other players will have to suffer through dumb humiliating insults. This will keep players playing together while against each other.</p>
<h1 id="lists">Lists</h1>
<h2 id="guns">Guns</h2>
<table>
<colgroup>
<col style="width: 9%" />
<col style="width: 14%" />
<col style="width: 13%" />
<col style="width: 11%" />
<col style="width: 7%" />
<col style="width: 9%" />
<col style="width: 6%" />
<col style="width: 10%" />
<col style="width: 4%" />
<col style="width: 11%" />
</colgroup>
<thead>
<tr class="header">
<th>Name</th>
<th>Projectile Amount</th>
<th>Projectile Speed</th>
<th>Muzzle Spread</th>
<th>Accuracy</th>
<th>Shot Delay</th>
<th>Recoil</th>
<th>Camera Shake</th>
<th>Ammo</th>
<th>Ammo Per Pack</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>LMG</td>
<td>1</td>
<td>950</td>
<td>0</td>
<td>2</td>
<td>80</td>
<td>30</td>
<td>2</td>
<td>15000</td>
<td>1000</td>
</tr>
<tr class="even">
<td>Cricket Gun</td>
<td>1</td>
<td>950</td>
<td>0</td>
<td>15</td>
<td>1500</td>
<td>1500</td>
<td>10</td>
<td>100</td>
<td>3</td>
</tr>
<tr class="odd">
<td>AutoShotGun</td>
<td>12</td>
<td>300</td>
<td>90</td>
<td>13</td>
<td>500</td>
<td>5</td>
<td>5</td>
<td>1500</td>
<td>45</td>
</tr>
</tbody>
</table>
<h2 id="emplacements">Emplacements</h2>
<h3 id="spikes">Spikes</h3>
<p>Slow enemies and damage them over the period they are on the spikes</p>
<h3 id="teleporter">Teleporter</h3>
<p>Teleports player instantly between 2 points. Up to 2 pairs of teleporters are allowed at a time.</p>
<h3 id="health-pack">Health Pack</h3>
<p>Spawns a pack restoring hp to max for 1 player every 20 seconds.</p>
<h3 id="ammo-pack">Ammo Pack</h3>
<p>Spawns a pack restoring ammo to max for one player every 20 seconds.</p>
